*.o
*.obj
*.lo
*.la
*.al
*.lib
*.a
*.so
*.dylib
*.dll
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.pdb
*.idb
*.class
*.ilk
*.dyn
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
build/
_install/
Testing/
CTestTestfile.cmake
cmake-build-debug/
cmake-build-release/
moc_*.cpp
qrc_*.cpp
ui_*.h
bin/
obj/
[Bb]in/
[Oo]bj/
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
_ReSharper*/
*.DotSettings.user
*.usertprefs
.idea/
*.iml
*.iws
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries/
.idea/gradle.xml
.idea/vcs.xml
.idea/jsLibraryMappings.xml
*~
*.swp
*.swo
*.bak
*.tmp
*.log
*.temp
.DS_Store
Thumbs.db
desktop.ini
